.profilesection-container {
  min-height: 100svh;
  width: 100%;
  padding-top: 150px;
  position: relative;

  &-inner {
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 1280px;
    width: 100%;
    gap: 5rem;
    height: 100%;

    &-orders {
      display: flex;
      flex-direction: column;

      &-header {
        border-bottom: 1px solid rgba(16, 16, 16, 0.1);
        color: #121212;
      }

      &-grid {
        display: grid;
        padding: 2rem;
        grid-template-columns: repeat(5, 1fr);
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
      }
    }

    &-top {
      display: flex;
      gap: 1rem;
      position: relative;
      height: 400px;

      &-user {
        display: flex;
        height: 100%;
        flex-direction: column;
        color: #101010;
        align-items: flex-start;
        justify-content: center;
        &-text {
          font-size: 1.5rem;
        }
      }
      &-addresses {
        flex: 1;
        display: flex;
        flex-direction: column;
      }

      &-addresses {
        overflow: hidden; // Prevents AddressSelector overflow
      }
    }
  }
}

@media (max-width: 768px) {
  .profilesection-container {
    &-inner {
      padding: 25px;
      &-top {
        gap: 3rem;
        height: auto;
        flex-direction: column;
      }
      &-orders {
        &-header {
          display: none;
        }
      }
    }
  }
}
