.radiobutton-container {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #101010;
  border-radius: 100px;

  &-inner {
    width: 12px;
    height: 12px;
    background-color: #101010;
    border-radius: 100px;

    transition: opacity 0.3s ease-in-out;
    opacity: 0;

    &-selected {
      opacity: 1;
    }
  }
}
