.messagesection-container {
  position: relative;
  min-height: 100vh;
  margin: auto;

  width: 100%;
  padding: 4rem 1rem;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  overflow: hidden;

  //   background-color: #171a1d;
}

.messageheaders-container {
  position: absolute;

  top: 10%;
  left: 50%;

  translate: -500px 0;

  text-align: right;

  width: 250px;

  &-right {
    top: 30%;
    right: 50%;

    translate: 400px 0;

    text-align: left;
    position: absolute;

    display: flex;
    gap: 1rem;
    flex-direction: column;
    &-head {
      font-optical-sizing: auto;
      font-style: normal;

      font-size: 1.6rem;
      font-weight: 300;
    }
  }
  &-head {
    font-size: 2rem;
    font-optical-sizing: auto;
    font-style: normal;
  }
  &-text {
    font-size: 1rem;
    font-weight: 200;
  }
}

.messagecontent-container {
  position: relative;

  width: 500px;

  height: 700px;

  scale: 0.7;

  &-middle {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &-lefttop {
    position: absolute;
    right: 70%;
    top: 20%;
    height: 300px;
    width: 500px;
    &-inner {
      height: 300px;
      width: 500px;
    }
  }
  &-righttop {
    position: absolute;
    left: 90%;
    top: -15%;
    height: 500px;
    width: 300px;
    &-inner {
      height: 500px;
      width: 300px;
    }
  }

  &-bottomleft {
    position: absolute;

    right: 80%;
    top: 90%;
    height: 300px;
    width: 300px;
    &-inner {
      height: 300px;
      width: 300px;
    }
  }
  &-rightbottom {
    position: absolute;
    left: 80%;
    top: 90%;
    height: 300px;
    width: 500px;
    &-inner {
      height: 300px;
      width: 500px;
    }
  }

  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 600px) {
  .messageheaders-container {
    position: relative;
    text-align: center;
    top: unset;
    left: unset;
    width: 100%;
    &-head {
      font-size: 2rem;
    }
    &-text {
      font-size: 1rem;
    }
  }

  .messagecontent-container {
    width: 50%;
    height: 500px;
    gap: 3rem;

    &-lefttop {
      position: absolute;
      right: 70%;
      top: 20%;
      height: 150px;
      width: 300px;
      &-inner {
        height: 150px;
        width: 300px;
      }
    }
    &-righttop {
      position: absolute;
      left: 90%;
      top: -15%;
      height: 150px;
      width: 300px;
      &-inner {
        height: 150px;
        width: 300px;
      }
    }

    &-bottomleft {
      position: absolute;

      right: 80%;
      top: 90%;
      height: 200px;
      width: 100px;
      &-inner {
        height: 200px;
        width: 100px;
      }
    }
    &-rightbottom {
      position: absolute;
      left: 80%;
      top: 90%;
      height: 100px;
      width: 300px;
      &-inner {
        height: 100px;
        width: 300px;
      }
    }
  }
}
